#title {
    text-align: center;
}
p {
    background-color: silver;
}
h2{
    color: red;
    background-color: gray;
}
div{
    background-color: silver;
}
h3 {
    color:slateblue;
    background-color: gray;
}
span{
    color:blue;

}
.s-green{
    color: green;
}