.title {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    color: magenta;

}
.font {
    font-family: 'Dancing Script', cursive;
    color: cadetblue;
}

.otra2 {
    font-family: 'Architects Daughter', cursive;
    color: crimson;

}

.font3 {
    font-family: 'Lobster', cursive;
    color: rgb(107, 189, 114);

}

.font5 {
    font-family: 'Source Code Pro', monospace;
    color: gold;

}



